# Sports club (synchronous version)
django==6.0.2
django-cors-headers
django-environ
django-json-widget
django-nanoid-field
django-ninja
django-ratelimit
pydantic[email]
psycopg[binary,pool]
whitenoise
