name: Safety Scan

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  safety_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install safety

      - name: Run Safety scan Fail on High Alerts
        run: |
          safety check --file=requirements.txt --full-report --exit-code 1
