name: Safety Scan

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  safety_scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install safety

      - name: Run Safety scan
        run: |
          safety check --file=requirements.txt
